
<h2>Categories:</h2>
  <% @categories.each do |category| %>
  <p><%= link_to category.title, category_path(category) %></p>
<% end %>

<br>
<br>
<h2>Items:</h2>
<br>
 <% @items.each do |item| %>
   <% if item.inventory > 0 %>
     <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %>
       <% if user_signed_in? %>
       <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<br>
      <% end %>
   <% end %>
 <% end %>

 <%= link_to "Cart", cart_path(current_user.current_cart) %>
